// FONTS

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?mau0tr');
	src:url('../fonts/icomoon.eot?#iefixmau0tr') format('embedded-opentype'),
		url('../fonts/icomoon.woff?mau0tr') format('woff'),
		url('../fonts/icomoon.ttf?mau0tr') format('truetype'),
		url('../fonts/icomoon.svg?mau0tr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:before,
[class*=" icon-"]:after {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-download2:before {
	content: "\e9c5";
}

.icon-arrow-left2:before {
	content: "\ea40";
}

.icon-linkedin2:before {
	content: "\eac9";
}




// BUTTON


input[type="submit"].button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: $scaling-font-weight-thick;
	text-align: center;
	width: 100%;
	display: block;
	border: 0;

}

.button__send-email {
	@include linear-gradient($scaling-colour-grey-button-top, $scaling-colour-grey-button-bottom);
	font-family: $scaling-font-main;
	font-weight: $scaling-font-weight-thick;
	font-size: $scaling-font-size-normal;
	color: $scaling-colour-white;
	@include border-radius(3px, 3px, 3px, 3px);
	font-size: $scaling-font-size-larger;
	padding: 13px 0;
	text-shadow: 0 -2px 0 $scaling-colour-black;
}



// PLANETS

.parx-casino-planet {
	background: url('../images/planets/parx-planet.png');
	background-size: 100% 100%;
	background-position-y: -11px;
}

.empire-casino-planet {
	background: url('../images/planets/empire-planet.png');
	background-size: 100% 100%;
	background-position-y: -11px;
}

.communique-planet {
	background: url('../images/planets/communique-planet.png');
	background-size: 100% 100%;
	background-position-y: -11px;
}

.le-voyageur-planet {
	background: url('../images/planets/le-voyageur-planet.png');
	background-size: 100% 100%;
	background-position-y: -11px;
}

.isight-planet {
	background: url('../images/planets/isight-planet.png');
	background-size: 100% 100%;
	background-position-y: -11px;
}

.money-gaming-planet {
	background: url('../images/planets/money-gaming-planet.png');
	background-size: 100% 100%;
	background-position-y: -11px;
}

.enracha-planet {
	background: url('../images/planets/enracha-bingo-planet.png');
	background-size: 100% 100%;
	background-position-y: -11px;
}

.norsk-planet {
	background: url('../images/planets/norsk-tipping-planet.png');
	background-size: 100% 100%;
	background-position-y: -11px;
}

.game-account-planet {
	background: url('../images/planets/gan-planet.png');
	background-size: 100% 100%;
	background-position-y: -11px;
}

.logos-planet {
	background: url('../images/planets/logos-planet.png');
	background-size: 100% 100%;
	background-position-y: -11px;
}


// Titles

.main-header-sub-header {
	text-align: center;
	padding-top: 7px;
	font-size: $scaling-font-size-normaler;
	line-height: 1.4;
	margin-bottom: 90px;
}

.main-page-title {
	font-size: $scaling-font-size-larger;
}
.main-page-title:after {
	content: '';
	display: block;
	width: 380px;
	height: 2px;
	margin: 13px auto 6px;
	@include title-underline__center(rgba(255, 255, 255, .0), #3e3e3e, #3e3e3e, rgba(255, 255, 255, .0));
	clear: left;
}

// Misc media objects

.media-background__portfolio-start {
	display: block;
	max-width: 320px;
	margin: 0 auto;

		img {
			width: 100%;
			height: auto;
		}
}

.main-image-container-portfolio {
	border: 1px solid $scaling-colour-grey-border-line;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 95%;
	max-width: 600px;
	margin: 0 auto 10px;


		img {
			width: 100%;
		}
}

.logo-image-container-portfolio {
	width: 95%;
	margin: 0 auto 90px;

	img {
		width: 100%;
	}

}

