
//  .d8888b.  888          888               888 
// d88P  Y88b 888          888               888 
// 888    888 888          888               888 
// 888        888  .d88b.  88888b.   8888b.  888 
// 888  88888 888 d88""88b 888 "88b     "88b 888 
// 888    888 888 888  888 888  888 .d888888 888 
// Y88b  d88P 888 Y88..88P 888 d88P 888  888 888 
//  "Y8888P88 888  "Y88P"  88888P"  "Y888888 888



html {
	font-family: 			$scaling-font-main; 
	font-size: 				62.5%; //Make the main body size 10px for ems
	line-height:			1.4;
}

body {
	font-size: 				$scaling-font-size-normal;
	background: 			$scaling-colour-black;
	color:					$scaling-colour-white;
	overflow-x: 			hidden;

}

body.home-page {
	background: 			$scaling-colour-black;
	background-image: 		url('../images/backgrounds/skill-background-desktop.png'), url('../images/backgrounds/home-stars-background.png');
	background-position:	center 27px, top;
	background-size:		1707px auto, 100% auto;
	background-repeat:		no-repeat, repeat;

}


@media screen and (min-width: $scaling-screen-size-medium) {

	body.home-page {
		background-image: 		url('../images/backgrounds/skill-background-desktop.png'), url('../images/backgrounds/home-stars-background-desktop.png');


	}

}


h1 {
	font-family: 			$scaling-font-main; 
	font-size: 				$scaling-font-size-normaler;
	text-align:				center;
}

h2 {
	font-family: 			$scaling-font-main; 
	font-size: 				$scaling-font-size-huge;
	padding:				10px 0;
}

h3 {
	font-family: 			$scaling-font-main; 
	font-size: 				$scaling-font-size-large;
	padding:				5px 0;
}

a {
	text-decoration:underline; 
	cursor:pointer;
}

fieldset { 
	padding:10px; 

	div.clearfix { 

		input[type="text"],
		input[type="tel"],
		input[type="email"],
		input[type="password"],
		select,
		textarea {
			width:100%;
			font-size: $scaling-font-size-normal;
			color: $scaling-colour-white;

		}

		input[type="text"].pair,
		input[type="tel"].pair,
		input[type="email"].pair,
		input[type="password"].pair,
		select.pair,
		textarea.pair {
			width:49%; 
			margin-right:2%; 
			float:left;

		}

		input[type="text"].pair:last-child,
		input[type="tel"].pair:last-child,
		input[type="email"].pair:last-child,
		input[type="password"].pair:last-child,
		select.pair:last-child,
		textarea.pair:last-child {
			margin-right:0;

		}

		textarea {
			height:600px;
			resize: none;
		}

	}


}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="datetime"],
select,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	@include border-radius(3px, 3px, 3px, 3px);
	padding:7px 10px;
	border:1px solid $scaling-colour-grey-dark;
	background: $scaling-colour-grey-dark;
}

input[type="file"][readonly="readonly"] {
	display: none;
}

select {
	padding-top:5.8px;
	padding-bottom:5.8px;
}


[data-module-open] {
	overflow: hidden;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;

}

