.jeremie-tag {
	padding: 230px 0;
	background-size: 100%;

		.jeremie-image-tag {
			background: url('../images/media/jeremie-tag.png');
			background-size: 100%;
			padding-left: 115px;
			max-width: 205px;
			margin: 0 auto;

				.top {
					padding: 60px 0 30px 10px; 

				}

				.bottom {

					.main-span {
						display: block;
					}

						span {
							font-size: $scaling-font-size-smallest;
							padding-bottom: 10px;
						}

						span:first-child {
							padding-left: 10px;
						}
				}

				img {
					width: 98%;
					height: auto;
					margin: 0 auto;
					display: block;
				}
		}

}


.main-homepage-logo {
	width: 100px;
	height: 100px;
	display: block;
	@include border-radius(60px, 60px, 60px, 60px);
	@include linear-gradient( $scaling-colour-white, $scaling-colour-grey-logo-bottom);
	@include box-shadow(0, 0, 20px, 15px, $scaling-colour-grey-light);
	margin: 0 auto 30px;
	position: relative;
	top: -50px;
}

	.main-homepage-logo:after {
		width: 100px;
		height: 100px;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		@include border-radius(60px, 60px, 60px, 60px);
		@include box-shadow(0, 0, 10px, 5px, $scaling-colour-black);
	}

.smaller-planets {
	width: 25px;
	height: 25px;
	margin: 20px auto 120px;
	display: block;
	@include border-radius(20px, 20px, 20px, 20px);
	@include linear-gradient( $scaling-colour-white, $scaling-colour-grey-logo-bottom);
	@include box-shadow(0, 0, 15px, 10px, $scaling-colour-grey-light);
	position: relative;

		.hex-container {
			width: 175px;
			height: 31px;
			position: absolute;
			top: 45px;
			left: -75px;

				.hex__left-triangle {
					@include triangle-left(33px, 32px, 30px, $scaling-colour-white);
					left: -30px;

				}
					.hex__left-triangle:before {
						@include triangle-left(33px, 32px, 30px, $scaling-colour-black);
						top: -33px;

					}

				.hex__right-triangle {
					@include triangle-right(33px, 32px, 30px, $scaling-colour-white);
					right: -30px;

				}
					.hex__right-triangle:before {
						@include triangle-right(33px, 32px, 30px, $scaling-colour-black);
						top: -33px;

					}

				.top {
					display: block;
				}

					.top:before {
						background: $scaling-colour-white;
						content: '';
						height: 20px;
						left: 0;
						margin: 0 auto;
						position: absolute;
						right: 0;
						top: -20px;
						width: 2px;
					}

				.bottom {
					display: block;
					font-size: $scaling-font-size-smallest;
					padding-top: 7px;
				}


		}

}

	.smaller-planets:after {
		width: 25px;
		height: 25px;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		@include border-radius(20px, 20px, 20px, 20px);
		@include box-shadow(0, 0, 8px, 2px, $scaling-colour-black);

	}

.hex-container {
	position: relative;
	width: 130px;
	margin: 0 auto 80px;
	display: block;

		.hex {
			width: 100%;
			padding: 15px 0;
			color: $scaling-colour-white;
			border-bottom: 2px solid $scaling-colour-white;
			border-top: 2px solid $scaling-colour-white;
			text-align: center;
			position: relative;
			z-index: 999;
			text-transform: uppercase;
			background: $scaling-colour-black;

		}

		.hex__left-triangle {
			@include triangle-left(24px, 24px, 17px, $scaling-colour-white);
			position: absolute;
			left: -17px;
			top: 0;
			z-index: 99;
		}
			.hex__left-triangle:before {
				@include triangle-left(24px, 24px, 17px, $scaling-colour-black);
				position: absolute;
				left: 2px;
				top: -24px;
				content: '';
			}

		.hex__right-triangle {
			@include triangle-right(24px, 24px, 17px, $scaling-colour-white);
			position: absolute;
			right: -17px;
			top: 0;
			z-index: 99;
		}
			.hex__right-triangle:before {
				@include triangle-right(24px, 24px, 17px, $scaling-colour-black);
				position: absolute;
				right: 2px;
				top: -24px;
				content: '';
			}

}

.hex-container.back {
	width: 30px;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 30px;

		.hex {
			font-size: 28px;
			text-decoration: none;
			padding: 7px 0 6px;
		}
}


.media--planets-group {
	margin-bottom: 60px;
	width: 100%;
	max-width: 420px;
	margin: 30px auto;

	.block-planet-link {
		display: block;
		color: inherit;
	}

	.media--planets-group--planet {
		width: 100px;
		height: 100px;
		vertical-align: top;
		z-index: 99;
		position: relative;

	}

	.media--planets-group--planet__left {
		float: left;
	}

	.media--planets-group--planet__right {
		float: right;
	}

	.media--planets-group--information-group {
		width: 100%;
		vertical-align: top;

			.media--planets-group--title__left {
				text-transform: uppercase;
				font-size: $scaling-font-size-larger;
				padding-bottom: 10px;
				margin-left: 100px;
				position: relative;

			}

			.media--planets-group--title__right {
				text-transform: uppercase;
				font-size: $scaling-font-size-larger;
				padding-bottom: 10px;
				text-align: right;
				margin-right: 100px;
				position: relative;

			}

			[class*="media--planets-group--title"]:after {
				content: '';
				display: block;
				height: 2px;
				background: red;
				width: 380px;
				position: absolute;
				bottom: 0;
			}

			.media--planets-group--title__right:after {
				@include title-unerline__right(rgba(255, 255, 255, .0), #3e3e3e, #3e3e3e);
				right: -50px;
			}


			.media--planets-group--title__left:after {
				left: -50px;
				@include title-underline__left(#3e3e3e, #3e3e3e, rgba(255, 255, 255, .0) );
			}

			.media--planets-group__thicker__left {
				font-weight: $scaling-font-weight-thick;
				font-size: $scaling-font-size-small;
				text-transform: uppercase;
				padding: 10px 0 5px;
				margin-left: 100px;

			}

			.media--planets-group__thinner__left {
				font-weight: $scaling-font-weight-normal;
				font-size: $scaling-font-size-small;
				text-transform: uppercase;
				color: $scaling-colour-grey-light;
				margin-left: 100px;

			}

			.media--planets-group__thicker__right {
				font-weight: $scaling-font-weight-thick;
				font-size: $scaling-font-size-small;
				text-transform: uppercase;
				padding: 10px 0 5px;
				text-align: right;
				margin-right: 100px;

			}

			.media--planets-group__thinner__right {
				font-weight: $scaling-font-weight-normal;
				font-size: $scaling-font-size-small;
				text-transform: uppercase;
				color: $scaling-colour-grey-light;
				text-align: right;
				margin-right: 100px;

			}

	}

	.media--planets-group--information-group__left {
		float: left;
		margin-left: -100px;

	}

	.media--planets-group--information-group__right {
		float: right;
		margin-right: -100px;

	}

}

.linked-in-container {
	width: 300px;
	margin: 0 auto 130px;

		.linked-in-container--main-disc {
			width: 216px;
			padding: 7px 10px;
			margin-right: 10px;
			color: $scaling-colour-white;
			@include linear-gradient($scaling-colour-grey-button-top, $scaling-colour-grey-button-bottom);
			display: inline-block;
			vertical-align: top;
			@include border-radius(5px, 5px, 5px, 5px);

				.linked-in-main-wrapper {
					display: inline-block;
					padding-left: 10px;
					vertical-align: middle;
				}

				.linked-in-container--main-disc__top {
					font-weight: $scaling-font-weight-thick;
					display: block;
					font-size: 21px;
				}

				.linked-in-container--main-disc__bottom {
					font-weight: $scaling-font-weight-thin;
					font-size: $scaling-font-size-normaler;
					text-transform: uppercase;
					display: block;
				}
		}

		.linked-in-container--main-disc:before {
			font-size: 29px;
			display: inline-block;
			vertical-align: middle;
		}

		.linked-in--logo {
			width: 50px;
			text-decoration: none;
			display: inline-block;
			@include linear-gradient($scaling-colour-grey-button-top, $scaling-colour-grey-button-bottom);
			vertical-align: top;
			@include border-radius(5px, 5px, 5px, 5px);
			font-size: 29px;
			text-align: center;
			padding: 9px 0;
		}
}


.contact-form {
	width: 280px;
	margin: 0 auto 20px;
	background: $scaling-colour-black;
	padding: 10px;
	@include box-shadow(0, 0, 20px, 15px, $scaling-colour-grey-light);
	position: relative;
	z-index: 99;

		input {
			margin-bottom: 2px;
		}

		textarea {
			margin-bottom: 10px;
		}
}



footer {
	padding: 30px 0;
	background: $scaling-colour-white;
	position: relative;
	height: 14px;

		.copyright {
			display: block;
			text-align: center;
			font-size: $scaling-font-size-tiny;
			color: $scaling-colour-grey-normal;
			z-index: 999;
		}
}

.footer-copyright-container {
	z-index: 99;
	position: relative;
}

.footer-circle {
	width: 100%;
	position: absolute;
	height: 150px;
	top: -76px;
	background: $scaling-colour-white;
	display: block;
	z-index: 9;
	@include border-radius(100%, 100%, 100%, 100%);
	@include box-shadow(0, -23px, 13px, 13px, $scaling-colour-grey-light);

}

.footer-circle:before {
	content: '';
	width: 100%;
	height: 150px;
	display: block;
	position: absolute;
	z-index: 8;
	@include border-radius(100%, 100%, 100%, 100%);
	@include box-shadow(0, -21px, 23px, -10px, $scaling-colour-black);
}


// PARX

.title-planet {
	display: block;
	height: 100px;
	width: 100px;
	margin: 70px auto 0;
	background-repeat: no-repeat;
	background-position: center;
}

