
.colour-highlight {
	color: $scaling-colour-grey-light;
	display: inline-block;
	padding: 0 .5px;
}
.colour-highlight-block {
	color: $scaling-colour-grey-light;
	display: block;
	padding: 0 .5px;
}

.lighter-font {
	font-weight: $scaling-font-weight-thin;
}

.thicker-font {
	font-weight: $scaling-font-weight-thick;
}

// index

.home-page {
	@include box-shadow (3px, -8px, 12px, 0, $scaling-colour-grey-light);
}

.planet-layouts {
	max-width: 320px;
	margin: 0 auto;
}