// 888     888                 d8b          888      888                   
// 888     888                 Y8P          888      888                   
// 888     888                              888      888                   
// Y88b   d88P 8888b.  888d888 888  8888b.  88888b.  888  .d88b.  .d8888b  
//  Y88b d88P     "88b 888P"   888     "88b 888 "88b 888 d8P  Y8b 88K      
//   Y88o88P  .d888888 888     888 .d888888 888  888 888 88888888 "Y8888b. 
//    Y888P   888  888 888     888 888  888 888 d88P 888 Y8b.          X88 
//     Y8P    "Y888888 888     888 "Y888888 88888P"  888  "Y8888   88888P' 


// responsive sizes
$scaling-screen-size-small:			320px;
$scaling-screen-size-medium:		800px;
$scaling-screen-size-large:			1185px;

// fonts
$scaling-font-main:					'Roboto Condensed', sans-serif;


$scaling-font-weight-thin:			300;
$scaling-font-weight-normal:		400;
$scaling-font-weight-thick:			700;


// font size
$scaling-font-size-tinier:			6px;
$scaling-font-size-tiny:			8px;
$scaling-font-size-smallest:		10px;
$scaling-font-size-smaller:			11px;
$scaling-font-size-small:			12px;
$scaling-font-size-normal:			14px;
$scaling-font-size-normaler:		15px;
$scaling-font-size-large:			18px;
$scaling-font-size-larger:			21px;
$scaling-font-size-huge:			22px;
$scaling-font-size-giant:			44px;

// colors
$scaling-colour-white:				#fff;
$scaling-colour-black:				#000;

$scaling-colour-grey-light:			rgba(255, 255, 255, .5);
$scaling-colour-grey-normal:		#1e1e1e;
$scaling-colour-grey-logo-bottom: 	#888888;
$scaling-colour-grey-dark:			#121212;

$scaling-colour-grey-button-top:	#606060;
$scaling-colour-grey-button-bottom:	#3b3b3b;
$scaling-colour-grey-border-line:	#4d4d4d;


// 888b     d888 d8b          d8b                   
// 8888b   d8888 Y8P          Y8P                   
// 88888b.d88888                                    
// 888Y88888P888 888 888  888 888 88888b.  .d8888b  
// 888 Y888P 888 888 `Y8bd8P' 888 888 "88b 88K      
// 888  Y8P  888 888   X88K   888 888  888 "Y8888b. 
// 888   "   888 888 .d8""8b. 888 888  888      X88 
// 888       888 888 888  888 888 888  888  88888P' 


@mixin unselectable() {

	-webkit-user-select: 			none;
	-moz-user-select: 				none;
	-ms-user-select: 				none;
	-o-user-select: 				none;
	user-select: 					none;

}

@mixin linear-gradient($first-color, $second-color) {

	background: 					$first-color;
	background: 					-moz-linear-gradient(top,  $first-color 0%, $second-color 100%);
	background: 					-webkit-gradient(linear, left top, left bottom, color-stop(0%,$first-color), color-stop(100%,$second-color));
	background: 					-webkit-linear-gradient(top,  $first-color 0%,$second-color 100%);
	background: 					-o-linear-gradient(top,  $first-color 0%,$second-color 100%);
	background: 					-ms-linear-gradient(top,  $first-color 0%,$second-color 100%);
	background: 					linear-gradient(to bottom,  $first-color 0%,$second-color 100%);
	filter: 						progid:DXImageTransform.Microsoft.gradient( startColorstr='$first-color', endColorstr='$second-color',GradientType=0 );


}


@mixin title-unerline__right($first-color, $second-color, $third-color) {

	background: 					$first-color;
	background: 					-moz-linear-gradient(left,  $first-color 0%, $second-color 25%, $third-color 100%);
	background: 					-webkit-gradient(linear, left top, right top, color-stop(0%,$first-color), color-stop(25%,$second-color), color-stop(100%,$third-color));
	background: 					-webkit-linear-gradient(left,  $first-color 0%,$second-color 25%,$third-color 100%);
	background: 					-o-linear-gradient(left,  $first-color 0%,$second-color 25%,$third-color 100%);
	background: 					-ms-linear-gradient(left,  $first-color 0%,$second-color 25%,$third-color 100%);
	background: 					linear-gradient(to right,  $first-color 0%,$second-color 25%,$third-color 100%);
	filter: 						progid:DXImageTransform.Microsoft.gradient( startColorstr='$first-color', endColorstr='$third-color',GradientType=1 );

}

@mixin title-underline__left($first-color, $second-color, $third-color) {

	background: 					$first-color;
	background: 					-moz-linear-gradient(left,  $first-color 0%, $second-color 75%, $third-color 100%);
	background: 					-webkit-gradient(linear, left top, right top, color-stop(0%,$first-color), color-stop(75%,$second-color), color-stop(100%,$third-color));
	background: 					-webkit-linear-gradient(left,  $first-color 0%,$second-color 75%,$third-color 100%);
	background: 					-o-linear-gradient(left,  $first-color 0%,$second-color 75%,$third-color 100%);
	background: 					-ms-linear-gradient(left,  $first-color 0%,$second-color 75%,$third-color 100%);
	background: 					linear-gradient(to right,  $first-color 0%,$second-color 75%,$third-color 100%);
	filter: 						progid:DXImageTransform.Microsoft.gradient( startColorstr='$first-color', endColorstr='$third-color',GradientType=1 );

}

@mixin title-underline__center($first-color, $second-color, $third-color, $fourth-color) {

	background: 					$first-color;
	background: 					-moz-linear-gradient(left,  $first-color 0%, $second-color 25%, $third-color 75%, $fourth-color 100%);
	background: 					-webkit-gradient(linear, left top, right top, color-stop(0%,$first-color), color-stop(25%,$second-color), color-stop(75%,$third-color), color-stop(100%,$fourth-color));
	background: 					-webkit-linear-gradient(left,  $first-color 0%,$second-color 25%,$third-color 75%,$fourth-color 100%);
	background: 					-o-linear-gradient(left,  $first-color 0%,$second-color 25%,$third-color 75%,$fourth-color 100%);
	background: 					-ms-linear-gradient(left,  $first-color 0%,$second-color 25%,$third-color 75%,$fourth-color 100%);
	background: 					linear-gradient(to right,  $first-color 0%,$second-color 25%,$third-color 75%,$fourth-color 100%);
	filter: 						progid:DXImageTransform.Microsoft.gradient( startColorstr='$first-color', endColorstr='$fourth-color',GradientType=1 );

}


@mixin box-shadow($x-ammount, $y-ammount, $blur-ammount, $spread-ammount, $color) {

	-moz-box-shadow: 				$x-ammount $y-ammount $blur-ammount $spread-ammount $color;
	-webkit-box-shadow: 			$x-ammount $y-ammount $blur-ammount $spread-ammount $color;
	box-shadow: 					$x-ammount $y-ammount $blur-ammount $spread-ammount $color;

}

@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {

	-moz-border-radius:				$top-left $top-right $bottom-right $bottom-left;
	-webkit-border-radius:			$top-left $top-right $bottom-right $bottom-left;
	border-radius:					$top-left $top-right $bottom-right $bottom-left;

}

@mixin rotate($deg) {

	-ms-transform: 					rotate($deg);
	-webkit-transform: 				rotate($deg);
	transform: 						rotate($deg);

}

@mixin transition($transition, $speed) {

	-webkit-transition:				$transition $speed;
	-moz-transition:				$transition $speed;
	-o-transition:					$transition $speed;
	-ms-transition:					$transition $speed;
	transition:						$transition $speed;

}

@mixin triangle-up($width-left, $width-right, $height, $color) {

	width: 							0;
	height: 						0;
	border-style: 					solid;
	border-width: 					0 $width-left $height $width-right;
	border-color: 					transparent transparent $color transparent;

}

@mixin triangle-right($height-top, $height-bottom, $width, $color) {

	width:							0;
	height: 						0;
	border-style: 					solid;
	border-width: 					$height-top 0 $height-bottom $width;
	border-color: 					transparent transparent transparent $color;

}

@mixin triangle-left($height-top, $height-bottom, $width, $color) {

	width:							0;
	height: 						0;
	border-style: 					solid;
	border-width: 					$height-top $width $height-bottom 0;
	border-color: 					transparent $color transparent transparent;

}
