<section class="jeremie-tag">


	<div class="jeremie-image-tag">

		<div class="top">
			
			<span class="lighter-font">
				NAME -
			</span>

			<span class="thicker-font">
				JEREMIE E
			</span>

		</div>

		<div class="bottom">

			<span class="main-span">
				<span class="lighter-font">LOCATED - </span>
				<span class="thicker-font">GENEVA . CH </span>
				<span class="lighter-font">[</span>
				<span class="thicker-font">EARTH</span>
				<span class="lighter-font">]</span>
			</span>
			<span class="main-span">BORN - 7TH . DECEMBER . 1985</span>
			
		</div>

	</div>


</section>